
@{
    ViewData["Title"] = "Goruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model HaftalıkRaporu.Models.ViewModels.UserRaporVM




    <p>Rapor Adı : @Model.Rapor.RaporTanimi &nbsp; <a href="/Empolyee/edit/@Model.Rapor.Id">Düzenle</a></p>
    <p>Raporlayan Kişi/Kişiler : @Model.Rapor.RaporlayanKisi  &nbsp; <a href="/Empolyee/edit/@Model.Rapor.Id">Düzenle</a> </p>
    <p>Raporun Düzenlenme Tarihi : @Model.Rapor.DuzenlenmeTarihi.ToShortDateString()</p>
    <p>Rapor Durumu : <b class="text-warning"> Gönderilmedi</b> </p>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Rapornuzun Detayları
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>   ID  </th>

                    <th>   Önem Dercesi</th>
                    <th>   Başlangış tarihi </th>
                    <th>   Bitiş tarihi </th>
                    <th>   Talep Sahibi </th>
                    <th>   Planlanmış Bitirme Tarihi </th>
                    <th>Yapılan İşler / Aksiyonlar</th>
                    <th>Süre Aşımı/Timeout</th>
                    <th>Haftalık Harcanan Süre (Saat)</th>
                    <th>   Durumu </th>
                    <th>   Yorumlar/Öneriler </th>

                    <th colspan="3" class="text-center">   İşlem </th>



                </tr>
                @foreach (var x in Model.SatirList)
                {
                    <tr>
                        <td>@x.Id </td>

                        <td>@x.OnemDerecesi </td>
                        <td>@x.BaslangisTar.ToShortDateString() </td>
                        <td>@x.BitisTar.ToShortDateString()</td>
                        <td>@x.TalepSahibi</td>
                        <td>@x.BlanlanmisTar.ToShortDateString()</td>
                        <td>@x.YapilanIsler</td>
                        @if (x.Timeout == false)
                        {
                            <td>Süre aşımı Yok</td>
                        }
                        else
                        {
                            <td>Süre aşımı var</td>
                        }

                        <td>@x.HarcananSure</td>

                        @if (@x.Durumu == false)
                        {
                            <td> Tamamlanmadı</td>
                        }
                        @if (@x.Durumu == true)
                        {
                            <td> Tamamlandı</td>
                        }
                        <td>@x.Yorumlar</td>

                        @if (@x.Rapor.Durumu == false)
                        {
                            <td><a href="/Satirler/Delete/@x.Id" class="btn btn-danger"> Sil</a> </td>
                            <td><a href="/Satirler/edit/@x.Id" class="btn btn-success"> Güncelle</a> </td>
                            <td>
                                
                                <a href="/Satirler/JustView/@x.Id" class="btn btn-info"> Görüntüle</a>
                            </td>

                        }
                        else
                        {
                    <td>

                        <a href="/Satirler/JustView/@x.Id" class="btn btn-info"> Görüntüle</a>


                    </td>
                        }

                    </tr>
                }
            </table>
        </div>
    </div>
</div>

 
        <a href="/Empolyee/SatirEkle/@Model.Rapor.Id" class="btn btn-primary"><i class="fas fa-plus"></i> Yeni Satır Ekle </a>

        <a href="/Empolyee/Index" class="btn btn-secondary">Geri Dön</a>
    





